@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 92);
}

h1,h2,h3,p,a{
    color:#fff;
    font-family: "Pixelify Sans", sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin: 1em 0 1em 0;
}

hr{
    border: 8px solid #fff;
    
}
.nav-bar{
    box-sizing: border-box;
}

.nav-bar, ul{
    background-color: rgb(102, 104, 134);
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content:right;
    gap: 0;
    align-items: center;
    list-style: none;
    max-width: 100%;
}

.nav-bar a{
    text-decoration: none;
    padding: 2em;
    margin: 0;
}

.nav-bar a:hover{
    background-color: rgb(135, 136, 165);
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10em;
    margin: auto;
    box-sizing: border-box;
}

.content-home, .content-projetos, .content-sobre{
    max-width: 100%;
    margin: auto;
    float: left;
}

.content-home, .content-sobre{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
}

.content-projetos{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5em;
}

.projetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
}

.card-projeto img{
    max-width: 90%;
    border: 8px solid white;
}

/* Media queries */
@media only screen and (max-width: 600px){
    .nav-bar, ul{
        background-color: rgb(102, 104, 134);
        padding: 1em;
        margin: 0;
        min-width: 100%;
        display: inline-block;
    }

    .nav-bar li{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.025fr 0.025fr 0.025fr 0.025fr;
        gap: 0;
    }


    .content-home{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5em;
        max-width: 100%;
    }
}